{% extends 'base.html' %}


{% block title %}
  TroubleHome
{% endblock %}

{% block content %}
                <div class="content">
                <div class="top">
                    <div class="container">
                        <div class="top__row">
                            <div class="top__body">
                                <div class="top__text">Добро пожаловать на</div>
                                <h1 class="top__title">TROUBLE HOME</h1>
                                <ul class="top__list">
                                    <li>Сервер игры Beasts of Bermuda</li>
                                    <li>Прекрасный ламповый Discord сервера</li>
                                    <li>Опытный и творческий коллектив</li>
                                    <li>Ивенты с глубоко проработанным ЛОРом</li>
                                    <li>Множество разносторонних компаний и кланов</li>
                                </ul>
                            </div>
                            <div class="top__image">
                                <img src="../static/images/mini_trabl.png" alt="Ups?" width="255" height="255">
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- <iframe src="https://discord.com/widget?id=585729392907517962&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->
            </div>
{% endblock %}
